body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fb;
}

.navbar {
  background: #1e293b;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #60a5fa;
}